In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

In [ ]:
import pandas as pd
import numpy as np
import pymongo as pygo
import urllib.parse
from pymongo import MongoClient

In [ ]:
connection_string = f"mongodb+srv://ashfaq:ashfaq@airbnbcluster.zjyuv.mongodb.net/?retryWrites=true&w=majority&appName=airbnbcluster"
client = MongoClient(connection_string)

# Access the database and collection
database = client["AirbnbDB"]
collection = database["airbnb"]

In [ ]:
airbnb_data = []

In [ ]:
for i in collection.find():
    data = dict(Id = i['_id'],
                Name = i.get('name'),
                Description = i['description'],
                Property_type = i['property_type'],
                Room_type = i['room_type'],
                Bed_type = i['bed_type'],
                Min_nights = int(i['minimum_nights']),
                Max_nights = (i['maximum_nights']),
                Cancellation_policy = i['cancellation_policy'],
                Accomodates = i['accommodates'],
                Total_bedrooms = i.get('bedrooms'),
                Total_beds =  i.get('beds'),
                Availability_365 = i['availability']['availability_365'],
                Price = i['price'],
                calculated_host_listing_count = i['host']['host_listings_count'],
                neighbourhood = i['host']['host_neighbourhood'],
                No_of_reviews = i['number_of_reviews'],
                Review_scores = i['review_scores'].get('review_scores_rating'),
                Amenities = ', '.join(i['amenities']),
                Host_id = i['host']['host_id'],
                Host_name = i['host']['host_name'],
                Street = i['address']['street'],
                Country = i['address']['country'],
                Country_code = i['address']['country_code'],
                Location_type = i['address']['location']['type'],
                Longitude = i['address']['location']['coordinates'][0],
                Latitude = i['address']['location']['coordinates'][1])
    airbnb_data.append(data)

In [ ]:
airbnb_df = pd.DataFrame(airbnb_data)

In [ ]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Id                             5555 non-null   object
 1   Name                           5555 non-null   object
 2   Description                    5555 non-null   object
 3   Property_type                  5555 non-null   object
 4   Room_type                      5555 non-null   object
 5   Bed_type                       5555 non-null   object
 6   Min_nights                     5555 non-null   int64
 7   Max_nights                     5555 non-null   object
 8   Cancellation_policy            5555 non-null   object
 9   Accomodates                    5555 non-null   int64
 10  Total_bedrooms                 5550 non-null   float64
 11  Total_beds                     5542 non-null   float64
 12  Availability_365               5555 non-null   int64
 13  Price                          5555 non-null   int64
 14  calculated_host_listing_count  5555 non-null   int64
 15  neighbourhood                  5555 non-null   object
 16  No_of_reviews                  5555 non-null   int64
 17  Review_scores                  4081 non-null   float64
 18  Amenities                      5555 non-null   object
 19  Host_id                        5555 non-null   object
 20  Host_name                      5555 non-null   object
 21  Street                         5555 non-null   object
 22  Country                        5555 non-null   object
 23  Country_code                   5555 non-null   object
 24  Location_type                  5555 non-null   object
 25  Longitude                      5555 non-null   float64
 26  Latitude                       5555 non-null   float64
dtypes: float64(5), int64(6), object(16)
memory usage: 1.1+ MB

In [ ]:
airbnb_df.shape #27 columns (feautures) and 5555 entries of record

(5555, 27)

In [ ]:
airbnb_df.columns

Index(['Id', 'Name', 'Description', 'Property_type', 'Room_type', 'Bed_type',
       'Min_nights', 'Max_nights', 'Cancellation_policy', 'Accomodates',
       'Total_bedrooms', 'Total_beds', 'Availability_365', 'Price',
       'calculated_host_listing_count', 'neighbourhood', 'No_of_reviews',
       'Review_scores', 'Amenities', 'Host_id', 'Host_name', 'Street',
       'Country', 'Country_code', 'Location_type', 'Longitude', 'Latitude'],
      dtype='object')

In [ ]:
airbnb_df.isnull().sum()

Id                                  0
Name                                0
Description                         0
Property_type                       0
Room_type                           0
Bed_type                            0
Min_nights                          0
Max_nights                          0
Cancellation_policy                 0
Accomodates                         0
Total_bedrooms                      5
Total_beds                         13
Availability_365                    0
Price                               0
calculated_host_listing_count       0
neighbourhood                       0
No_of_reviews                       0
Review_scores                    1474
Amenities                           0
Host_id                             0
Host_name                           0
Street                              0
Country                             0
Country_code                        0
Location_type                       0
Longitude                           0
Latitude                            0
dtype: int64

In [ ]:
airbnb_df.isna().sum()

Id                                  0
Name                                0
Description                         0
Property_type                       0
Room_type                           0
Bed_type                            0
Min_nights                          0
Max_nights                          0
Cancellation_policy                 0
Accomodates                         0
Total_bedrooms                      5
Total_beds                         13
Availability_365                    0
Price                               0
calculated_host_listing_count       0
neighbourhood                       0
No_of_reviews                       0
Review_scores                    1474
Amenities                           0
Host_id                             0
Host_name                           0
Street                              0
Country                             0
Country_code                        0
Location_type                       0
Longitude                           0
Latitude                            0
dtype: int64

In [ ]:
airbnb_df["neighbourhood"]

0                  Soho
1
2           Surry Hills
3
4          Shek Kip Mei
             ...
5550
5551
5552    Upper East Side
5553
5554
Name: neighbourhood, Length: 5555, dtype: object

In [ ]:
airbnb_df["neighbourhood"].isna().sum()

0

In [ ]:
airbnb_df["neighbourhood"].value_counts()

neighbourhood
                             1923
Copacabana                    124
Le Plateau                    123
Mong Kok                       90
Waikiki                        76
                             ...
Pointe-Claire                   1
Opéra - Grands Boulevards       1
Breakfast Point/Cabarita        1
San Mateo                       1
Rio Comprido                    1
Name: count, Length: 447, dtype: int64

In [ ]:
airbnb_df['neighbourhood'].replace("","Copacabana",inplace=True)

In [ ]:
airbnb_df.Total_bedrooms.fillna(airbnb_df.Total_bedrooms.mode()[0],inplace=True)
airbnb_df.Total_beds.fillna(airbnb_df.Total_beds.median(),inplace= True)
airbnb_df.Review_scores.fillna(airbnb_df.Review_scores.median(),inplace=True)

<ipython-input-68-8be953106608>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  airbnb_df.Total_bedrooms.fillna(airbnb_df.Total_bedrooms.mode()[0],inplace=True)
<ipython-input-68-8be953106608>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  airbnb_df.Total_beds.fillna(airbnb_df.Total_beds.median(),inplace= True)
<ipython-input-68-8be953106608>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  airbnb_df.Review_scores.fillna(airbnb_df.Review_scores.median(),inplace=True)

In [ ]:
airbnb_df.isna().sum()

Id                               0
Name                             0
Description                      0
Property_type                    0
Room_type                        0
Bed_type                         0
Min_nights                       0
Max_nights                       0
Cancellation_policy              0
Accomodates                      0
Total_bedrooms                   0
Total_beds                       0
Availability_365                 0
Price                            0
calculated_host_listing_count    0
neighbourhood                    0
No_of_reviews                    0
Review_scores                    0
Amenities                        0
Host_id                          0
Host_name                        0
Street                           0
Country                          0
Country_code                     0
Location_type                    0
Longitude                        0
Latitude                         0
dtype: int64

In [ ]:
airbnb_df['Amenities']

0       Air conditioning, Kitchen, Smoking allowed, Do...
1       Internet, Wifi, Air conditioning, Free parking...
2       TV, Wifi, Kitchen, Elevator, Heating, Washer, ...
3       Internet, Wifi, Air conditioning, Kitchen, Ele...
4       TV, Wifi, Air conditioning, Kitchen, Elevator,...
                              ...
5550    TV, Cable TV, Internet, Wifi, Kitchen, Paid pa...
5551    TV, Cable TV, Wifi, Kitchen, Elevator, Heating...
5552    Wifi, Air conditioning, Kitchen, Pets allowed,...
5553    TV, Cable TV, Internet, Wifi, Kitchen, Free pa...
5554    TV, Wifi, Air conditioning, Pool, Kitchen, Fre...
Name: Amenities, Length: 5555, dtype: object

In [ ]:
def amenities_sort(x):
    l1 = x
    x2 = l1.split(',')
    return x2


airbnb_df['Amenities'] = airbnb_df['Amenities'].apply(lambda x: amenities_sort(x))

In [ ]:
airbnb_df.head()

,Id,Name,Description,Property_type,Room_type,Bed_type,Min_nights,Max_nights,Cancellation_policy,Accomodates,...,Review_scores,Amenities,Host_id,Host_name,Street,Country,Country_code,Location_type,Longitude,Latitude
0,10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,...,100.0,"[Air conditioning, Kitchen, Smoking allowed,...",51624384,Giovanni,"Hong Kong, Hong Kong Island, Hong Kong",Hong Kong,HK,Point,114.15027,22.28158
1,10133554,Double and triple rooms Blue mosque,We are on the central city Blue mosque 5 minu...,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,...,92.0,"[Internet, Wifi, Air conditioning, Free par...",52004703,Mehmet Emin,"Fatih , İstanbul, Turkey",Turkey,TR,Point,28.98009,41.00620
2,10091713,Surry Hills Studio - Your Perfect Base in Sydney,"This spacious, light filled studio has everyth...",Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2,...,95.0,"[TV, Wifi, Kitchen, Elevator, Heating, Wa...",13764143,Ben,"Surry Hills, NSW, Australia",Australia,AU,Point,151.21554,-33.88029
3,1003530,New York City - Upper West Side Apt,"Murphy bed, optional second bedroom available....",Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,...,94.0,"[Internet, Wifi, Air conditioning, Kitchen,...",454250,Greta,"New York, NY, United States",United States,US,Point,-73.96523,40.79962
4,10084023,City center private room with bed,House is located 5mins walk from Sham Shui Po ...,Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,1,...,92.0,"[TV, Wifi, Air conditioning, Kitchen, Elev...",51744313,Yi,"Hong Kong , 九龍, Hong Kong",Hong Kong,HK,Point,114.16690,22.33140

In [ ]:
airbnb_df.isnull().sum()

Id                               0
Name                             0
Description                      0
Property_type                    0
Room_type                        0
Bed_type                         0
Min_nights                       0
Max_nights                       0
Cancellation_policy              0
Accomodates                      0
Total_bedrooms                   0
Total_beds                       0
Availability_365                 0
Price                            0
calculated_host_listing_count    0
neighbourhood                    0
No_of_reviews                    0
Review_scores                    0
Amenities                        0
Host_id                          0
Host_name                        0
Street                           0
Country                          0
Country_code                     0
Location_type                    0
Longitude                        0
Latitude                         0
dtype: int64

In [ ]:
airbnb_df.to_csv("airbnb_DATA.csv",index=False)